<div data-reload="true" data-role="view" data-title="Wegingen" data-layout="main" data-model="app.demoService.viewModel" data-show="app.home.onShow" data-after-show="app.home.afterShow">

    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <footer data-role="footer">
		<button data-role="button" data-icon="camera" class="button" data-bind="click: scanBack">Scan barcode</button>
		<button data-role="button" data-icon="refresh" class="button" onclick="Refresh()" style="float:right;">Refresh</button>
    </footer>
   
<div id="grid"></div>

<script id="popup-editor" type="text/x-kendo-template">
<div style="width: 250px; float:left; margin-left: 10px; margin-bottom: 5%; margin-right: 8%">
  <table>
  <tr><td><label>Bonnr:  	</label></td><td align="right">#=bonnr#			</td><tr>
  <tr><td><label>Datum:		</label></td><td align="right">#=datum#			</td><tr>
  <tr><td><label>Gewicht:	</label></td><td align="right">#=inweging# kg	</td><tr>
  <tr><td><label>Quotum: 	</label></td><td align="right">#=quotum# kg		</td><tr>
  <tr><td><label>Adres:  	</label></td><td align="right">#=postcode#		</td><tr>
  <tr><td><label>     		</label></td><td align="right">#=gemeente#		</td><tr>
  <tr><td><label>     		</label></td><td align="right">#=straat#		</td><tr>
  <tr><td><label>Tarief:	</label></td><td align="right" format: "{0:c}">&euro; #=afval_prijs#</td><tr>
  </table>
      <div class="k-edit-label">
        <label for="afval">Afval:</label>
    </div>
    <div>
	  	<input style="width: 180px"
        	id="afval"
    		name="afval" 
			data-bind="value:afval" 
			data-role="dropdownlist" 
        />
    </div>
  </div>
</script>
    
<script>
    
    kendo.culture("nl-NL");
    
    function Refresh() {
        $("#grid").data("kendoGrid").dataSource.read();
    };

    $(document).ready(function () {
        /* Grid */
        $("#grid").kendoGrid({
            dataSource: wegingenDataSource,
            sortable: true,
            /*mobile: true,*/

            scrollable: false,
            
            height: 430,
/*
            pageable: {
                refresh: true,
                buttonCount: 3,
                info: false,
            },*/
            /*selectable: true,*/
	        change: function() {   
                var text = "";
                var grid = this;                

                grid.select().each(function() {
                    var dataItem = grid.dataItem($(this));
                    text += "ID: " + dataItem.id + "\n";
                    text += "hiddenkey: " + dataItem.hiddenkey + "\n";
                });

                alert(text);
                
                
            },
            /*editable: {mode: "inline"},*/
            editable: {
                mode: "popup",
                template: kendo.template($("#popup-editor").html()),
                window : {
			        title: "Weegbon",
                    
                    width: "90%",
                    height: "80%",
                    
                    draggable: false,
                    modal: true,
                    pinned: false,
                    position: {
                        top: "1px",
                        left: "1px"
                    },
    			},
            },
            edit: function(e) {
/*                
                var text = "";
                var grid = this;                

                grid.select().each(function() {
                    var dataItem = grid.dataItem($(this));
                    text += "ID: " + dataItem.id + "\n";
                    text += "hiddenkey: " + dataItem.hiddenkey + "\n";
                });

                alert(text);
*/                
	        	initDropDownLists();
/*
                alert("edit");
            	
                $(e.container).find("input[name='afval']")
                $(e.container).data("kendoAutoComplete")
                $(e.container).bind("change", function(e) {alert("edit changed");});
*/                
        	},
            /*
            edit: function (e) {
          	  initDropDownLists();
        	},
            */
            autoBind: true,
	        dataBinding: function() {   
                /*alert("dataBinding");*/
            },
	        dataBound: function() {   
                /*alert("dataBound");*/
            },
            columns: [
                {
                    field: "bonnr",
                    title: "Bonnr",
                    width: 100,
                }, 
                {
                    field: "afval_type",
                    title: "#",
                    width: 10,
                }, 
                {
                    field: "afval_omschr.substr(0,20)",
                    width: "150px", 
                    title: "Afval",
                },
                { 	command: [
                 		{ 	name: "edit",
                          	text: 
                         	{ 
                                edit: "",
                             	update: "Opslaan",
                               	cancel: "Annuleren"
                            }
                        },
                    ], 
                 	title: "&nbsp;", 
                 	width: "10px" 
                },
            ]
        });
    });
    
    function initDropDownLists() {
       
        /*alert("initDropDownLists");*/
        var afval = $("#afval").kendoDropDownList({
            cascadeFrom: "grid",
    		cascadeFromField: "afval_type",
            
            optionLabel: "Select afval...",
            dataTextField: "afval_omschr",
            dataValueField: "afval_id",
            dataSource: afvalDataSource
        }).data("kendoDropDownList");
    };
    
    /* Wordt alleen gebruikt bij inline edit mode */
    function afvalDropDownEditor(container, options) {
          $('<input required name="' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    dataTextField: "afval_omschr.substr(0,14)",
                    dataValueField: "afval_id",
                    dataSource: afvalDataSource
            });
    };
    
    function findWeging(hiddenkey) {
		var bonnr
        var view = kendo.data.Query.process(wegingenDataSource.data(), {
                        filter: wegingenDataSource.filter(),
                        sort: wegingenDataSource.sort()
                    })
                    .data;

        var index = -1;
        for (var x = 0; x < view.length; x++) {
            if (view[x].hiddenkey == hiddenkey) {
                index = x;
                bonnr = view[x].bonnr
                break;
            }
        }

        if (index === -1) {
            return;
        }
        alert("Weegbon gevonden\n" +
              "Gelezen:: " + hiddenkey + "\n" +
              "Regel: " + index + "\n" +
              "Bonnr: " + bonnr);

        var row = $("#grid").find("tr:eq(" + index + ")");
        $("#grid").data("kendoGrid").select(row);

	};
    
</script>
<style>

/*
    Increase the width of the edit form.
    The default one is 400px.
*/

.k-edit-form-container
{
    width: 280px;
}

/*
    Decrease the width of the edit form labels. The default one is 30%.
    The new width should depend on the column titles.
    Switch the text alignment to the left. By default, it is to the right.
*/

.k-popup-edit-form .k-edit-label
{
    width: 20%;
    text-align: left;
}

/*
    Increase the width of the textbox containers. The default one is 60%.
    The sum of label and editor percentage widths should be around 90%, to make up for existing paddings.
*/
.k-popup-edit-form .k-edit-field
{
    width: 70%;
}

/*
    Expand the edit textboxes and any other Kendo UI widgets.
    In case of unexpected side effects, use widget-specific classes, instead of .k-widget.
*/
.k-popup-edit-form .k-edit-field > .k-textbox,
.k-popup-edit-form .k-edit-field > .k-widget
{
    width: 98%;
}

.k-grid .k-button
{
    min-width: 0 !important;
}    
    
</style>    
   
    <!-- END_CUSTOM_CODE_home -->
</div>