<div data-reload="true" data-role="view" data-title="Wegingen" data-layout="main" data-model="app.demoService.viewModel" data-show="app.home.onShow" data-after-show="app.home.afterShow">

    <!-- START_CUSTOM_CODE_home -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<div id="grid"></div>
    
    <footer data-role="footer" >
		<button class="k-button" id="btnScan"    data-icon="camera" data-bind="click: scanBack">Scan barcode</button>
		<button class="k-button" id="btnRefresh" onclick="Refresh()" style="float:right;">Refresh</button>
    </footer>
   

<script id="popup-editor" type="text/x-kendo-template">
    <div style="width: 250px; float:left; margin-left: 10px; margin-bottom: 5%; margin-right: 8%">
        <table>
        <tr><td><label>Bonnr:  	</label></td><td align="right">#=bonnr#			</td><tr>
        <tr><td><label>Datum:	</label></td><td align="right">#=datum#			</td><tr>
        <tr><td><label>Gewicht:	</label></td><td align="right">#=inweging# kg	</td><tr>
        <tr><td><label>Quotum: 	</label></td><td align="right">#=quotum# kg		</td><tr>
        <tr><td><label>Adres:  	</label></td><td align="right">#=postcode#		</td><tr>
        <tr><td><label>     	</label></td><td align="right">#=gemeente#		</td><tr>
        <tr><td><label>     	</label></td><td align="right">#=straat#		</td><tr>
        <tr><td><label>Tarief:	</label></td><td align="right" format: "{0:c}">&euro; #=afval_prijs#</td><tr>
        <tr><td><label>Type:	</label></td><td align="right"">
            <input id="afvaltype" data-bind="value:afval_type" style="width: 60px;"/>
    	</td><tr>
        <tr><td><label>Afval:	</label></td><td align="right"">
	        <input id="afval" 	  data-bind="value:afval"      style="width: 180px;"/>
    	</td><tr>
        </table>

  	</div>
</script>
    
<script>
    
    kendo.culture("nl-NL");
    
    function Refresh() {
        $("#grid").data("kendoGrid").dataSource.read();
    };
    
    $(document).ready(function () {
        
        $("#btnRefresh").kendoButton({
            icon: "refresh"
        });

        $("#btnScan").kendoButton({
            icon: "search"
        });
        
        /* Grid */
        $("#grid").kendoGrid({
            dataSource: wegingenDataSource,
            sortable: true,

            scrollable: false,

            editable: {
                mode: "popup",
                template: kendo.template($("#popup-editor").html()),
                window : {
			        title: "Weegbon",
                    draggable: false,
                    /*modal: true,*/
                    pinned: true,
    			},
            },
            edit: function(e) {
	        	initDropDownLists();
                $(e.container).data("kendoWindow").maximize();
        	},
            autoBind: true,
	        dataBinding: function() {   
                /*alert("dataBinding");*/
            },
	        dataBound: function() {   
                /*alert("dataBound");*/
            },
            columns: [
                {
                    field: "bonnr",
                    title: "Bonnr",
                    width: "90px",
                }, 
                {
                    field: "afval_omschr.substr(0,20)",
                    width: "140px", 
                    title: "Afval",
                },
                { 	command: [
                 		{ 	name: "edit",
                          	text: 
                         	{ 
                                edit: "",
                             	update: "Opslaan",
                               	cancel: "Annuleren"
                            }
                        },
                    ], 
                 	title: "&nbsp;", 
                 	width: "8px" 
                },
            ]
        });
    });
    
    function initDropDownLists() {
        var afvaltype = $("#afvaltype").kendoDropDownList({
            dataSource: [
                { afval_type: "C1" },
                { afval_type: "C2" },
                { afval_type: "C3" }
            ],
            dataValueField: "afval_type",
            dataTextField: "afval_type",
            enable: false,
        }).data("kendoDropDownList");
        
        var afval = $("#afval").kendoDropDownList({
            cascadeFrom: "afvaltype",
            dataTextField: "afval_omschr",
            dataValueField: "afval_id",
            dataSource: afvalDataSource,
        }).data("kendoDropDownList");
        
    };
    
    function findWeging(hiddenkey) {
		var bonnr
        var view = kendo.data.Query.process(wegingenDataSource.data(), {
                        filter: wegingenDataSource.filter(),
                        sort: wegingenDataSource.sort()
                    })
                    .data;

        var index = -1;
        for (var x = 0; x < view.length; x++) {
            if (view[x].hiddenkey == hiddenkey) {
                index = x;
                bonnr = view[x].bonnr
                break;
            }
        }

        if (index === -1) {
            return;
        }
        
        index = index + 1;
        
        var grid = $("#grid").data("kendoGrid");
		grid.editRow($("#grid tr:eq(" + index + ")"));
  
	};
    
</script>
<style>

/*
    Increase the width of the edit form.
    The default one is 400px.
*/

.k-edit-form-container
{
    width: 280px;
}

/*
    Decrease the width of the edit form labels. The default one is 30%.
    The new width should depend on the column titles.
    Switch the text alignment to the left. By default, it is to the right.
*/

.k-popup-edit-form .k-edit-label
{
    width: 20%;
    text-align: left;
}

.k-grid .k-button
{
    min-width: 0 !important;
}    
                

</style>    
   
    <!-- END_CUSTOM_CODE_home -->
</div>